body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0e4d7, #d4c2a2);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
    height: auto;
}

.logo img {
    height: 100px;
    width: auto;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 50px;
    color: red;
    font-family: 'Dancing Script', cursive;
}

.cart {
    display: flex;
    align-items: center;
}

.cart img {
    height: 30px;
    margin-right: 10px;
}

.cart span {
    margin-right: 10px;
    color: red;
    font-family: 'Dancing Script', cursive;
}

.cart a {
    text-decoration: none;
    color: red;
    font-family: 'Dancing Script', cursive;
    margin-left: 10px;
}

main {
    text-align: center;
    padding: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the table */
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd; /* Add border to table cells */
}

th {
    background-color: #f4f4f4;
}

td img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.buy-now {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.buy-now:hover {
    background-color: #0056b3;
}
